<html>
<head>
<%@ page language="java" import="com.fincher.html_browser.*" %>
<jsp:useBean id="browserBean" scope="page" class="com.fincher.html_browser.BrowserBean" />
<%browserBean.processRequest(request,response);%>
<%out.print(BrowserBean.getHtmlHead(request)); %>
</head>

<body>
	<%
	for (String str: browserBean.getHeader()) {
	    out.println(str);
	}
	%>
		
	<center>
	<h1>Add Folder</h1>
	<br>
	
	<%if (browserBean.isAdministrator()) {%>
	
	<%String errorText = request.getParameter("errorText");
	  if (errorText != null) {
    %>
          <div id="error"><p><%out.print(errorText); %></p></div>
	<%}%>
	
	<form id="form" action="folder_admin.jsp" method="post">
		<input name=action type=hidden value=addFolder />
		<table>
			<tr>
				<td>Name</td>
				<%
				String nameValue = "";
				if (request.getParameter("name") != null) {
					nameValue = "value=\"" + request.getParameter("name") + "\"";
				}
				%>
				<td><input name="name" type="text" <%out.print(nameValue);%>"/></td>
			</tr>
			<tr>
				<td>Directory</td>
				<%
				String dirValue = "";
				if (request.getParameter("directory") != null) {
					dirValue = "value=\"" + request.getParameter("directory") + "\"";
				}
				%>
				<td><input name="directory" type="text" <%out.print(dirValue);%>/></td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="Save" /></td>
				<td><input name="submit" type="submit" value="Cancel" /></td>
			</tr>
		</table>
	</form>
	
	<%} else {%>
	<div id="error">You are not authorized to view this page</div>
	<%}%>
	</center>
</body>

</html>