{% extends "page.html" %}
{% block additional_header %}
{% load crispy_forms_tags %}
{% endblock %}

{% block body %}
<div class="container-narrow">
	<h1 style="margin-top: 50px;">{{ title }}</h1>
	<font color="red"><p id="userNameErrorText"></p></font>
	<font color="red"><p id="pwErrorText"></p></font>
	
	{% crispy form %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ MEDIA_URL }}user_admin.js"></script>
<script> setCsrf("{% csrf_token %}");</script>
{% endblock %}
