{% include "header.html" %}

<script type="text/javascript">
	function showPasswordDialog() {
		var el = document.getElementById('password-dialog');
		el.style.visibility = "visible";
	}

	function hidePasswordDialog() {
		var el = document.getElementById('password-dialog');
		el.style.visibility = "hidden";
	}
	
</script>

</head>

<body>	
	
	<center>
	<h1>Administration</h1>
	<br>
			
	<ol>
		{% if user.is_staff %}
		<li><a href="{{ const.USER_ADMIN_URL }}">Users</a></li>
		<li><a href="{{ const.GROUP_ADMIN_URL }}">Groups</a></li>
		<li><a href="folder_admin.jsp">Folders</a></li>
		{% endif %}
		<li><a href="javascript:showPasswordDialog();">Change Password</a></li>
	</ol>		
	</center>
	
	<div id="password-dialog">
		<form method="post" action="admin.jsp">
		<input type="hidden" name="action" value="changePassword" />
		<table>
			<tr>
				<td>Current password:</td> 
				<td><input name="currentPassword" id="currentPassword" type="password" /></td>
			</tr>
			<tr>
				<td>New Password:</td>
				<td><input name="password" id="password" type="password" onkeyup="validatePassword('password', 'verifyPassword', 'changePasswordSubmit')" /></td>
			</tr>
			<tr>
				<td>Confirm new Password</td>
				<td><input name="verifyPassword" id="verifyPassword" type="password" onkeyup="validatePassword('password', 'verifyPassword', 'changePasswordSubmit')" /></td>
			</tr>
			<tr align="center">
					<td colspan=2><font color="red"><p id="pwErrorText"></p></font></td>
			</tr>
			<tr>
				<td><input id="changePasswordSubmit" name="submit" disabled="disabled" type="submit" value="Change Password" onclick="hidePasswordDialog();" /></td>
				<td><input name="submit" type="submit" value="Cancel" onclick="hidePasswordDialog();" /></td>
			</tr>
		</table>
		</form>
	</div>
</body>

</html>
