{% extends "page.html" %}
{% block body %}
<form action="{% url 'changePasswordResult' %}" method="post"> {% csrf_token %}
  <center>
  <table>
    <tr>
      <td>Current Password</td>
      <td><input type="password" name="password" /></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><input type="password" name="newPassword" /></td>
    </tr>
    <tr>
      <td>Confirm New Password</td>
      <td><input type="password" name="newPassword2" /></td>
    </tr>
    <tr>
      <td></td>
      <td><input class="btn" type="submit" value="Change my password" /></td>
    </tr>
  </table>
  </center>
</form>

{% endblock %}

