{% extends "page.html" %}

{% block additional_header %}
{% load crispy_forms_tags %}
<style type="text/css">
	body {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.container-narrow {
		margin: 0 auto;
		max-width: 700px;
	}

</style>

<script>
    setCsrf("{% csrf_token %}");
</script>
{% endblock %}

{% block body %}
<div class="container-narrow">    
	<h1 style="margin-top: 50px;">Edit Group</h1>
	<h2>{{ groupName }}</h2>
	
    {% crispy form %}

</div>
{% endblock %}

{% block extra_js %}
<script src="{{ const.MEDIA_URL }}edit_group.js"></script>
{% endblock %}

