{% extends "page.html" %}
{% block additional_header %}
<style type="text/css">
    .center-table
    {
        margin: 0 auto !important;
        float: none !important;
    }

    .center-table td
    {
        text-align: center;
    }
</style>
{% endblock %}
{% load PermissionFilters %}
{% block body %}
    
<div id="add-user-permission" style="background-color:cyan;border:1px solid black;display:none;width:250px;height:200px;">
    <p>Add User Permission</p>
    User:
    <select name="newUser" id="newUser">
    {% for user in usersNotAssignedToFolder %}
        <option value="{{ user.username }}">{{ user.username }}</option>
    {% endfor %}
    </select>
    <br>
    <input class="btn" type="submit" name="submit" value="Submit" 
    onclick="addRow('permissionTable', 'newUser', 'user');hideDialog('add-user-permission');"/>
		
    <input class="btn" type="button" name="submit" value="Cancel" 
    onclick="hideDialog('add-user-permission');"/>										
</div>
	
<div id="add-group-permission" style="background-color:cyan;border:1px solid black;display:none;width:250px;height:200px;">
    <h1>Add Group Permission</h1>
    Group:
    <select name="newGroup" id="newGroup">
    {% for group in groupsNotAssignedToFolder %}
        <option value="{{ group.name }}">{{ group.name }}</option>
    {% endfor %}
    </select>
    <br>

    <input class="btn" type="submit" name="submit" value="Submit" 
    onclick="addRow('permissionTable', 'newGroup', 'group');hideDialog('add-group-permission');"/>
		
    <input class="btn" type="button" name="submit" value="Cancel" 
    onclick="hideDialog('add-group-permission');"/>										
</div>
		
<center>
<h1>Edit Folder</h1> 
<h2>{{ folder.name }}</h2>
<br>
	
	
{% if errorText %}
    <div id="error"><p>{{ errorText }}</p></div>
{% endif %}
</center>
	
<form id="form" action="{{ const.BASE_URL }}folderAdminAction/" method="post">
    <input name=action type=hidden value=editFolder /> {% csrf_token %}
    <input name=name type=hidden value="{{ folder.name }}" />
    <div class="row-fluid">
	    <div class="span5"></div>
	    <div class="span3">Directory&nbsp;&nbsp;<input name="directory" type="text" value="{{ folder.localPath }}"/></div>
	    <div class="span5"></div>
    </div>

    <br>
		
    <table class="span6 center-table" id="permissionTable">
	<caption>Folder Permissions</caption>
	<tr>
   	    <th>User/Group</th>
	    <th>Read</th>
	    <th>Write</th>
	    <th>Delete</th>
        </tr>
		
	{% for groupPerm in groupPermissions %}
	<tr>				
  	    <td>
                <img src="{{ const.MEDIA_URL }}User-Group-icon.png">{{ groupPerm.group.name }}
            </td>
	    <td>
                <input type="checkbox" name="{{ groupPerm|readId }}" 
                id="{{ groupPerm|readId }}" checked=checked {{ groupPerm|readDisabled }}/> 
            </td>
	    <td>
                <input type="checkbox" name="{{ groupPerm|writeId }}" 
                id="{{ groupPerm|writeId }}" {{ groupPerm|writeChecked }} {{ groupPerm|writeDisabled }} onclick="writeClicked('{{ groupPerm|writeId }}', '{{ groupPerm|readId }}');"/> 
            </td>
  	    <td>
                <input type="checkbox" name="{{ groupPerm|deleteId }}" 
                id="{{ groupPerm|deleteId }}" {{ groupPerm|deleteChecked }} 
                onclick="deleteClicked('{{ groupPerm|deleteId }}', '{{ groupPerm|writeId }}', '{{ groupPerm|readId }}');"> 
            </td>				
	</tr>
	{% endfor %}
			
	{% for userPerm in userPermissions %}
	<tr>				
  	    <td>
                <img src="{{ const.MEDIA_URL }}Administrator-icon.png"> {{ userPerm.user.username }}
            </td>
	    <td>
                <input type="checkbox" name="{{ userPerm|readId }}" 
                id="{{ userPerm|readId }}" checked=checked {{ userPerm|readDisabled }}/> 
            </td>
	    <td>
                <input type="checkbox" name="{{ userPerm|writeId }}" 
                id="{{ userPerm|writeId }}" {{ userPerm|writeChecked }} {{ userPerm|writeDisabled }} 
                onclick="writeClicked('{{ userPerm|writeId }}', '{{ userPerm|readId }}');"/> 
            </td>
	    <td>
                <input type="checkbox" name="{{ userPerm|deleteId }}" 
                 id="{{ userPerm|deleteId }}" {{ userPerm|deleteChecked }} 
                 onclick="deleteClicked('{{ userPerm|deleteId }}', '{{ userPerm|writeId }}', '{{ userPerm|readId }}');"> 
            </td>				
	</tr>
	{% endfor %}
			
    </table>
    <br>
    <center>
        <a href="#" onclick="Popup.show('add-group-permission');return false;">Add Group Permission</a>
	<br>
        <a href="#" onclick="Popup.show('add-user-permission');return false;">Add User Permission</a>
    </center>
    <br>

    <div class="row-fluid">
        <div class="span5"></div>
	<div class="span1"><input name="submit" type="submit" value="Save" /></div>
	<div class="span1"><input name="submit" type="submit" value="Cancel" /></div>
        <div class="span5"></div>
    </div>
</form>

<center><input type=submit value="Delete Folder" onclick="confirmDelete('{{ folder.name }}');" /></center>

<script src="{{ const.MEDIA_URL }}folder_admin.js"></script>
<script type="text/javascript" src="{{ const.MEDIA_URL }}popup.js"></script>

{% endblock %}
