<html>
<head>
<%@ page language="java" import="com.fincher.html_browser.*" %>
<jsp:useBean id="browserBean" scope="page" class="com.fincher.html_browser.BrowserBean" />
<%browserBean.processRequest(request,response);%>
<%out.print(BrowserBean.getHtmlHead(request)); %>
</head>

<body>
	<%
	for (String str: browserBean.getHeader()) {
	    out.println(str);
	}
	%>	
	
	<center>
	<h1>Folders</h1>
	
	<%if (browserBean.isAdministrator()) {%>
	
	<table class="FolderAdminTable">
		<tr class="FolderAdminTable">
			<th class="FolderAdminTable">Name</th>
			<th class="FolderAdminTable">Directory</th>
		</tr>
		
		<%for (Folder folder: FolderUtilities.getFolders()) { %>
			<tr class="FolderAdminTable">
				<td class="FolderAdminTable"><a href="edit_folder.jsp?name=<%out.print(BrowserBean.htmlParamaterize(folder.getName()));%>"><%out.print(folder.getName());%></a></td>
				<td class="FolderAdminTable"><%out.print(folder.getDirectory());%></td>
			</tr>
		<%}%>
	</table>
	
	<br>
	<a href="add_folder.jsp">Add Folder</a>
	
	
	<%} else {%>
	<div id="error">You are not authorized to view this page</div>
	<%}%>
	</center>
</body>

</html>