{% include "header.html" %}	
	
	<center>
	<h1>Groups</h1>	
	
	<table class=GroupAdminTable>
		<tr class=GroupAdminTable>
			<th class=GroupAdminTable> Group Name </th>
		</tr>
		
		{% for groupName in groupNames %}
		<tr class=GroupAdminTable>
			<td class=GroupAdminTable> <a href={{ const.EDIT_GROUP_URL }}?groupName={{ groupName }}>{{ groupName }}</a> </td>
		</tr>
		{% endfor %}
	</table>
	
	<br>
	 <a href="{{ const.ADD_GROUP_URL }}">Add Group</a>	
	</center>
</body>

</html>