{% extends "page.html" %}
{% block additional_header %}
<script>
	setCsrf('{% csrf_token %}');
</script>
{% endblock %}
{% block body %}

	<div style="text-align:center"><h1>Groups</h1></div>
	
	<table class="col-md-5 center-table">
		<tr>
			<th>Group Name</th>
		</tr>
		
		{% for group in groups %}
		<tr>
			<td><a href="{% url 'editGroup' group %}">{{ group }} </a></td>
		</tr>
		{% endfor %}
	</table>

	<br/>
	<div style="text-align:center"><a href="javascript:addGroup()">Add Group</a></div>
	
<script src="{{ MEDIA_URL }}group_admin.js"></script>
{% endblock %}
