{% include "header.html" %}
	
	<center>
	<h1>Users</h1>	
	
	<table class="UserAdminTable">
		<tr class="UserAdminTable">
			<th class="UserAdminTable"> User Name </th>
			<th class="UserAdminTable"> Groups </th>
			<th class="UserAdminTable"> Is Administrator </th>
		</tr>
		
		{% for user in users %}
		<tr class="UserAdminTable">
			<td class="UserAdminTable"> <a href="edit_user.jsp?userName={{ user.username }}">{{ user.username }}</a> </td>
			<td class="UserAdminTable">
				<ul>
				{% for groupName in groupNames %}
					<li>{{ groupName }}</li>
				{% endfor %}
				</ul>
			</td>
			<td class="UserAdminTable"> {{ user.is_staff }} </td>
		</tr>
		{% endfor %}
	</table>
	
	<a href="{{ const.ADD_USER_URL }}">Add User</a>
		
	</center>
</body>

</html>