*.pyc
*.sql
*.db
cache
folder_links
.coverage
docker/*config
html_browser/local_settings/local_settings.json
html_browser/local_settings/local_settings.py
.scannerwork
.tox
log
.env
hbmedia
.metadata
/.pytest_cache/
.project
.pydevproject
.settings
.checkstyle
coverage.xml
/.mypy_cache/
