[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "==3.2.4"
django-crispy-forms = "==1.13.0"
django-downloadview = "==2.3.0"
django-js-reverse = "==0.9.1"
sorl-thumbnail = "==12.7.0"
django-environ-2 = "==2.3.0"
Django = "==3.2.12"
Pillow = "==9.0.1"

[dev-packages]
mypy = "==1.9.0"
flake8 = "*"
pylint = "*"
pylint-django = "*"
django-stubs = "*"

[requires]
python_version = "3.8"
