certifi==0.0.8
crypto==1.1.0
cymysql==0.6.0
Django==1.10.2
django-annoying==0.10.3
django-crispy-forms==1.6.1
django-sendfile==0.3.11
flup==1.0.3.dev20110405
pbr==1.10.0
Pillow==3.3.1
psycopg2==2.5.2
pyasn1==0.1.7
pycrypto==2.6.1
pytz==2016.7
requesocks==0.10.8
requests==2.0.0
rsa==3.1.2
sh==1.9
six==1.10.0
stevedore==1.19.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
