body{font-family:"Trebuchet MS",verdana,lucida,arial,helvetica,sans-serif;height:100%; margin:0; padding:0}
#header{font-family:"Trebuchet MS",verdana,lucida,arial,helvetica,sans-serif;background-color:#F0F0F0;margin:5px 5px 5px 5px}
#logo{color:black;font-size:10px;padding-top:1px;text-align:right;}
#header div.right-side{font-size:14px;display:block;text-align:right;background-color:#F0F0F0;}
#header div.left-side{float:left;display:block;}
#error{color:red;font-size:16pt;text-align:center;}

.dialogText{font-size: 62.5%;}
.dialogText input.text {margin-bottom:12px; width:95%; padding: .4em; }
.dialogText label, button { display:block; }
.dialogText fieldset { padding:0; border:0; margin-top:25px; }


#login {
     visibility: hidden;
     position: absolute;
     left: 600px;
     top: 100px;
     width:300px;
     height:150px;
     z-index: 1000;     
     background-color: #fff;
     border:5px solid #000;
     padding:15px;
}

#add-user-permission {
     visibility: hidden;
     position: absolute;
     left: 600px;
     top: 400px;
     width:175px;
     height:75px;
     z-index: 1000;     
     background-color: #fff;
     border:5px solid #000;
     padding:15px;
}

#add-group-permission {
     visibility: hidden;
     position: absolute;
     left: 600px;
     top: 400px;
     width:175px;
     height:75px;
     z-index: 1000;     
     background-color: #fff;
     border:5px solid #000;
     padding:15px;
}

#password-dialog {
     visibility: hidden;
     position: absolute;
     left: 400px;
     top: 100px;
     width:375px;
     height:125px;
     z-index: 1000;     
     background-color: #fff;
     border:5px solid #000;
     padding:15px;
}


TABLE.FolderAdminTable
  { 
     width:500px;
     border-style:solid;
     border-color:black;
     border-width:2px;
  }

TH.FolderAdminTable
  {      
     text-align:center;
     font-weight: bold;
  }

TD.FolderAdminTable
  {      
     border-style:solid;
     border-width:1px;
     border-color:black;
     text-align:center;
  }

TABLE.UserAdminTable
  { 
     width:500px;
     border-style:solid;
     border-color:black;
     border-width:2px;
  }

TH.UserAdminTable
  {      
     text-align:center;
     font-weight: bold;
  }

TD.UserAdminTable
  {      
     border-style:solid;
     border-width:1px;
     border-color:black;
     text-align:center;
  }
  
TABLE.UserAdminOuterTable
  { 
     width:500px;
     text-align:center;
  }

TH.UserAdminOuterTable
  {      
     text-align:center;
     font-weight: bold;
  }
  
TR.UserAdminOuterTable
  {      
     text-align:center;
  }


TD.UserAdminOuterTable
  {      
     text-align:center;
  }
  
TABLE.GroupAdminTable
  { 
     width:125px;
     border-style:solid;
     border-color:black;
     border-width:2px;
  }

TH.GroupAdminTable
  {      
     text-align:center;
     font-weight: bold;
  }

TD.GroupAdminTable
  {      
     border-style:solid;
     border-width:1px;
     border-color:black;
     text-align:center;
  }
  
TABLE.UserGroupTable
  { 
     width:125px;
     border-style:solid;
     border-color:black;
     border-width:2px;
     margin-left:auto;
     margin-right:auto
  }

TH.UserGroupTable
  {      
     text-align:center;
     font-weight: bold;
  }

TD.UserGroupTable
  {      
     border-style:solid;
     border-width:1px;
     border-color:black;
     text-align:center;
  }
  
TABLE.IndexTable
  { 
     width:350px;
     margin-left:auto;
     margin-right:auto
  }

TH.IndexTable
  {      
     text-align:center;
     font-weight: bold;
  }

TD.IndexTable
  {      
     text-align:center;
  }
  
TABLE.FolderContentBar
  { 
     width:100%;
     background-color:#F0F0F0;
     margin:5px 5px 5px 5px;
  }
  
TABLE.FolderContent
  { 
     width:100%;
     margin:5px 5px 5px 5px;
  }  
  
TD.FolderContent
  {
  	 border-style:solid;
     border-width:1px;
     border-color:black;
  }
  
TABLE.ListFolderContent
  { 
  	 width:100%;
     margin:5px 5px 5px 5px;
  }  
  
TD.ListFolderContent
  {
  	padding:15px;
  }
      
TABLE.UploadOuterTable
  { 
     width:500px;
     text-align:center;
     margin:5px 5px 5px 5px;
  }

TH.UploadOuterTable
  {      
     text-align:center;
     font-weight: bold;
  }
  
TR.UploadTable
  {      
     text-align:center;
  }


TD.UploadTable
  {      
     text-align:center;
  }      
  
TABLE.FolderPermissionTable
  { 
     width:500px;
     border-style:solid;
     border-color:black;
     border-width:2px;
  }

CAPTION.FolderPermissionTable
  {      
     text-align:center;
     font-weight: bold;
  }
  
TH.FolderPermissionTable
  {      
     text-align:center;
     font-weight: bold;
  }
  
TD.FolderPermissionTable
  {      
     border-style:solid;
     border-width:1px;
     border-color:black;
     text-align:center;
  }