{% extends "content_page.html" %}

{% block additional_header %}
{{ block.super }}
	<script type="text/javascript" src="{{ MEDIA_URL }}/datatables/datatables.min.js"></script>
	<link rel="stylesheet" href="{{ MEDIA_URL }}/datatables/datatables.min.css">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#content-table').DataTable( {
				paging: false,
				"info": false,
				"order": [],
				"columnDefs": [ {
				    "targets" : 'no-sort',
					"orderable" : false,
				}]
			} );
        } );
    </script>
{% endblock %}

				{% block additional_navbar %}
                <li class="nav-item dropdown" data-dropdown="dropdown">
                    <a class="dropdown-toggle nav nav-link" href="#" id="preferencesLink" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter
                    </a>

                   <div class="dropdown-menu">
                       <form class="px-4 py-3 form-group" aria-labelledby="preferencesLink" method="get" action="{% url 'content' folder_and_path.url %}">
                         <input type="text" class="form-control" name="filter" value="{{ filter }}" placeholder="filter" maxLength=20 size="10">
                         <button class="btn btn-primary" type="submit" value="Filter" name="Filter">Apply Filter</button>
                       </form>
                   </div>
                </li>


				<li class="nav-item dropdown" data-dropdown="dropdown">
                    <a class="dropdown-toggle nav nav-link" href="#" id="settingsLink" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu container">
						<form class="px-4 py-3" aria-labelledby="settingsLink" method="post" action="{% url 'content' folder_and_path.url %}"> {% csrf_token %}
							<input type="hidden" name="action" value="changeSettings" />
							<input type="checkbox" name="show_hidden" 
							{% if show_hidden %}checked="checked" {% endif %}
							/>&nbsp;Show Hidden Files / Folders
							<br>
							<input class="btn-default" id="Save" name="submit" type="submit" value="Save" />
							<input class="btn" id="Cancel" name="submit" type="submit" value="Cancel" />
						</form>
					</div>
			   </li>
			{% endblock %}

{% block content %}
	<table class="table table-striped table-bordered table-hover table-sm" id="content-table"> 
		<thead>
		<tr>
			<th scope="col" class="no-sort"><input id="checkAll" type="checkbox" /> </th>
			<th scope="col" > Name</th>
			<th scope="col"  class="d-none d-sm-table-cell">Size</th>
			<th scope="col"  class="d-none d-sm-table-cell">Last Modified</th>
		</tr>
		</thead>
		
		<tbody>
		{% for entry in current_dir_entries %}
		<tr>
			<td><input class="content-checkbox" name="cb-{{ entry.name }}" type="checkbox" /></td>
			{% autoescape off %}
			<td>
				{% if entry.is_dir %}
					{% include "entry_dir.html" %}
				{% else %}
					{% include "entry_details.html" %}
				{% endif %}
			</td>
			<td class="d-none d-sm-table-cell" data-value="{{ entry.size_numeric }}">{{ entry.size }}</td>
			<td class="d-none d-sm-table-cell">{{ entry.last_modify_time }}</td>
			{% endautoescape %}
		</tr>			
		{% endfor %}
		</tbody>
	</table>
			
{% endblock %}
