{% extends "page.html" %}

{% block additional_header %} 
		<script type="text/javascript" src="{{ MEDIA_URL }}folder_content.js"></script>

		<script>
				setUserCanRead({{ userCanRead }})
				setUserCanWrite({{ userCanWrite }})
				setUserCanDelete({{ userCanDelete }})
				setFolderAndPathUrl("{{ folderAndPath.url|safe }}");
		</script>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
		  google.load("visualization", "1", {packages:["corechart"]});
		  google.setOnLoadCallback(drawChart);
		  function drawChart() {
			var data = google.visualization.arrayToDataTable([
			  ['Category', 'Percentage'],
			  ['Used',	   {{ diskUsed }}],
			  ['Free',	   {{ diskFree }}]
			]);

			var options = {
			  title: 'Disk Usage for {{ folderAndPath.folder.name }} in {{ diskUnit }}'
			};

			var chart = new google.visualization.PieChart(document.getElementById('disk_usage_content'));
			chart.draw(data, options);
		  }
		</script>

<div id="disk_usage">
	<div id="disk_usage_content"></div>
	<a href="javascript:diskUsageHidePopup()">hide</a>
</div>
{% endblock %}


{% block body %}
	{% include "content_bar.html" %}
	<form id="content-form" method="post">
		{% csrf_token %}
	{% block content %}{% endblock %}
	</form>

	{% if currentDirEntries|length > 20 %}
		{% include "content_bar.html" %}
	{% endif %}
{% endblock %}
