{% include "content_header.html" %}

	<table class="table table-condensed">
		<tr>
		
			<col width="25%" />
			<col width="25%" />
			<col width="25%" />
			<col width="25%" />
		
		{% for entry in currentDirEntries %}
			{% if forloop.counter0 > 0 and forloop.counter0|divisibleby:"4" %}
		</tr>
		<tr>
			{% endif %}
			<td>
				<input id="{{ entry.name }}" name="cb" type="checkbox" />
				{% block list_entry %}
				{% if entry.isDir %}
					{% include "entry_dir.html" %}
				{% else %}
					{% include "entry_details.html" %}
				{% endif %}
				{% endblock %}
			</td>
		{% endfor %}
		
		</tr>
	</table>
{% include "content_footer.html" %}
</body>
</html>
