{% extends "content_page.html" %}
{% block content %}

	<table class="table table-condensed content-list-table">
		<tr>
		
		{% for entry in currentDirEntries %}
			{% if forloop.counter0 > 0 and forloop.counter0|divisibleby:"4" %}
		</tr>
		<tr>
			{% endif %}
			<td>
				<input class="content-checkbox" name="cb-{{ entry.name }}" type="checkbox" />
				{% block list_entry %}
				{% if entry.isDir %}
					{% include "entry_dir.html" %}
				{% else %}
					{% include "entry_details.html" %}
				{% endif %}
				{% endblock %}
			</td>
		{% endfor %}
		
		</tr>
	</table>
{% endblock %}
