{% include "content_header.html" %}

	<table class="table table-striped table-bordered table-hover table-condensed"> 
		<col width="1%" />
		<col width="20%" />
		<col class="hidden-phone" width="5%" />
		<col class="hidden-phone" width="10%" />
				
		<tr>
			<th><input id="checkAll" type="checkbox" onclick="checkAll()" /> </th>
			<th>Name</th>
			<th class="hidden-phone">Size</th>
			<th class="hidden-phone">Last Modified</th>
		</tr>
		
		{% for entry in currentDirEntries %}
		<tr>
			<td><input id="{{ entry.name }}" name="cb" type="checkbox" /></td>
			{% autoescape off %}
			<td>
				{% if entry.isDir %}
					{% include "entry_dir.html" %}
				{% else %}
					{% include "entry_details.html" %}
				{% endif %}
			</td>
			<td class="hidden-phone">{{ entry.size }}</td>
			<td class="hidden-phone">{{ entry.lastModifyTime }}</td>
			{% endautoescape %}
		</tr>			
		{% endfor %}
	</table>
			
{% include "content_footer.html" %}
</body>
</html>
