<head>
	<title>HTML File Explorer</title>
	<link rel="stylesheet" href="{{ const.MEDIA_URL }}ext-all.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ const.MEDIA_URL }}xtheme-gray.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ const.MEDIA_URL }}html_browser.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="{{ const.MEDIA_URL }}login.js"></script>
    <script type="text/javascript" src="{{ const.MEDIA_URL }}html_browser.js"></script>
    <script type="text/javascript" src="{{ const.MEDIA_URL }}folder_content.js"></script>
</head>

<body>		
	<div id="login">
		<table>
		<form action="{{ const.BASE_URL }}hbLogin/" method="post" >  {% csrf_token %}
			<input name="action" type="hidden" value="login"
		    <caption>Log In</caption>
		    <tr>
		    	<td>User Name:</td>
		        <td><input type="text" name="userName" /></td>
		    </tr>
		
		    <tr>
		        <td>Password:</td>
		        <td><input type="password" name="password" /></td>
		    </tr>
		
		    <tr>
		        <td><input type="submit" name="submit" value="Log In" onclick="hideLogin();"/></td>
		        <td><input type="submit" name="submit" value="Cancel" onclick="hideLogin();"/></td>
		    </tr>
		</form>
		</table>
	</div>
		
	<div id="header">
	    <div id="logo" class="left-side">
	        <font size="4">HTML File Explorer</font>
	    </div>
		    
	    <div class="right-side">
	    {% if not user.is_authenticated %}
	    	<!-- <a href="{{ const.BASE_URL }}hbLogin/?next={{ const.BASE_URL }}">Log In</a> -->
			<a href="javascript:showLogin();">Log In</a>
		{% else %}
			{{ user.username }} <a href="{{ const.BASE_URL }}hbLogout/">Log Out  </a>
		{% endif %}
	    	<br>
	        <a href="{{ const.BASE_URL }}">Home</a>
		        
	        {% if user.is_authenticated %}
	        	{% if user.is_staff %}
		    		<a href="/hb/admin/">Administration  </a>
		    	{% else %}
		    		<a href="{{ const.BASE_URL }}hbChangePassword">Change Passowrd </a>
		    	{% endif %}
		    {% endif %}
	    </div>
	</div>		

	{% if errorText != None %}
	<div id="error"> {{ errorText }}</div><br>
	{% endif %}
