{% extends "page.html" %}
{% load url_resolver %}
{% block body %}
	<center>
		{% if prevLink != None %}
			<a href="{{ prevLink }}"><img src="{{ IMAGE_URL }}left_arrow.png"/></a>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{% endif %}
		
		<a href="{% get_content_url %}"><img src="{{ IMAGE_URL }}up_arrow.png"></a>
		
		{% if nextLink != None %}
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<a href="{{ nextLink }}"><img src="{{ IMAGE_URL }}right_arrow.png"/></a>
		{% endif %}
		
		<br><br>

	</center>

    <table id="imageTable">
        <tr><td><a href='javascript:deleteImage("{{ fileName }}")'>Delete File</a></td></tr>
        <tr><td><img src="{{ imageUrl }}" /></td></tr>
    </table>

    <br>
    <div id="loadingDiv"></div>
{% endblock %}

{% block extra_js %}
<script>
fileName = "{{ fileName }}";
lastImage = false;
</script>

<script src="{{ MEDIA_URL }}debounce.js" ></script>
<script src="{{ MEDIA_URL }}folder_content.js" ></script>
<script src="{{ MEDIA_URL }}image_view.js" ></script>

<script>
    setCsrf("{% csrf_token %}");
    setCurrentFolder("{{ currentFolder }}");
    setCurrentPath("{{ currentPath }}");
    setUserCanRead("{{ userCanRead }}");
    setUserCanWrite("{{ userCanWrite }}");
    setUserCanDelete("{{ userCanDelete }}");
    setDeleteImageUrl("{{ deleteImageUrl }}");
    setImageUrl("{{ IMAGE_URL }}");
</script>
{% endblock %}
