{% extends "page.html" %}
{% block body %}
        <div class="center" >
		{% if prev_link != None %}
			<a href="{{ prev_link }}"><img src="{{ IMAGE_URL }}left_arrow.png" alt="Left Arrow"/></a>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{% endif %}
		
		<a href="{% url 'content' folder_and_path.url %}"><img src="{{ IMAGE_URL }}up_arrow.png" alt="Up Arrow"></a>
		
		{% if next_link != None %}
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<a href="{{ next_link }}"><img src="{{ IMAGE_URL }}right_arrow.png" alt="Right Arrow"/></a>
		{% endif %}
		
		<br><br>

	</div>

	<table id="imageTable">
		<tr><td><a href='javascript:deleteImage("{{ file_name }}")'>Delete File</a></td></tr>
		<tr><td><img src="{{ image_url }}" /></td></tr>
	</table>

	<br>
	<div id="loadingDiv"></div>
{% endblock %}

{% block extra_js %}
<script>
file_name = "{{ file_name }}";
lastImage = false;
</script>

<script src="{{ MEDIA_URL }}debounce.js" ></script>
<script src="{{ MEDIA_URL }}folder_content.js" ></script>
<script src="{{ MEDIA_URL }}image_view.js" ></script>

<script>
	setCsrf('{% csrf_token %}');
	setUserCanRead("{{ user_can_read }}");
	setUserCanWrite("{{ user_can_write }}");
	setUserCanDelete("{{ user_can_delete }}");
	setImageUrl("{{ IMAGE_URL }}");
	setFolderAndPathUrl("{{ folder_and_path.url|safe }}");
</script>
{% endblock %}
