{% extends "page.html" %}
{% block body %}
       <script>
                setCurrentFolder('{{ currentFolder }}')
                setCurrentPath('{{ currentPath }}')
                setUserCanDelete('{{ userCanDelete }}')
        </script>
	<center>
		{% if prevLink != None %}
			<a href="{{ prevLink }}"><img src="{{ const.IMAGE_URL }}left_arrow.png"/></a>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{% endif %}
		
		<a href="{{ const.CONTENT_URL }}?currentFolder={{ currentFolder }}&currentPath={{ currentPath }}"><img src="{{ const.IMAGE_URL }}up_arrow.png"></a>
		
		{% if nextLink != None %}
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<a href="{{ nextLink }}"><img src="{{ const.IMAGE_URL }}right_arrow.png"/></a>
		{% endif %}
		
		<br><br>

	</center>

    <table id="imageTable">
        <tr><td><a href='javascript:deleteImage("{{ fileName }}")'>Delete File</a></td></tr>
        <tr><td><img src="{{ imageUrl }}" /></td></tr>
    </table>

    <br>
    <div id="loadingDiv"></div>
{% endblock %}

{% block extra_js %}
<script>
fileName = "{{ fileName }}";
lastImage = false;
</script>
<script src="{{ const.MEDIA_URL }}debounce.js" ></script>
<script src="{{ const.MEDIA_URL }}image_view.js" ></script>
{% endblock %}
