{% extends "page.html" %}
{% block body %}
	<center>

	<div class="row">
	<div class="col-md-4"></div> 
	<div class="col-md-4">
	<table class="table" >
	{% for folder in folders %}
		{% if forloop.counter0|divisibleby:2 %}
			<tr>
				{% if forloop.last %}
					<td colspan=2><a href="{% url 'content' folder.getNameAsHtml %}"/> {{ folder.name }} </a></td>
				{% else %}
					<td> <a href="{% url 'content' folder.getNameAsHtml %}"/> {{ folder.name }} </a></td>
				{% endif %}
		{% else %}
			<td> <a href="{% url 'content' folder.getNameAsHtml %}"/> {{ folder.name }} </a></td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
	</div>
	<div class="col-md-4"></div>
	</div>
	</center>
{% endblock %}
