{% extends "page.html" %}
{% block body %}
	<center>

	<div class="row-fluid">
	<div class="span4"></div> 
	<div class="span4">
	<table class="table" >
	{% for folder in folders %}
		{% if forloop.counter0|divisibleby:2 %}
			<tr>
				{% if forloop.last %}
					<td colspan=2><a href="{{ const.CONTENT_URL }}?currentFolder={{ folder.getNameAsHtml }}&currentPath="/> {{ folder.name }} </a></td>
				{% else %}
					<td> <a href="{{ const.CONTENT_URL }}?currentFolder={{ folder.getNameAsHtml }}&currentPath="/> {{ folder.name }} </a></td>
				{% endif %}
		{% else %}
			<td> <a href="{{ const.CONTENT_URL }}?currentFolder={{ folder.getNameAsHtml }}&currentPath="/> {{ folder.name }} </a></td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
	</div>
	<div class="span4"></div>
	</div>
	</center>
{% endblock %}
