<!doctype html>
<html>
{% block header %} 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>HTML File Explorer</title>

	<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}jquery.min.js"></script>
	<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>

	<script src="{{ MEDIA_URL }}base.js"></script>
	{% block extra_js %} {% endblock %}

	<link rel="stylesheet" href="{{ MEDIA_URL }}html_browser.css" type="text/css" media="screen" title="no title">

	<link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css">

</head>
{% endblock %} 
{% block additional_header %} {% endblock %}

<body>		
	{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-center sticky-top">
	  <a class="navbar-brand d-flex w-50 mr-auto" href="{% url 'index' %}">HTML File Explorer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse w-100" id="navbarCollapse">
		{% if user.is_authenticated %}
          <ul class="nav navbar-nav ml-auto justify-content-end w-100" >
            {% if user.is_staff %}
            <li class="nav-item active px-4"><a class="nav-link" href="{% url 'admin' %}">Administration</a></li>
            {% endif %}
            <li class="nav-item px-4"><a class="nav-link" href="#" > {{ user.username }} </a> </li>
            <li class="nav-item px-4"><a class="nav-link" href="{% url 'changePassword' %}" >Change Password </a></li>
            <li class="nav-item active px-4"><a class="nav-link" href="{% url 'logout'%}" >Log Out</a></li>
          </ul>
        {% else %}
           <form class="form-inline ml-auto w-75" action="{% url 'login' %}" method="post" > {% csrf_token %}
            <input class="form-control px-3" name="user_name" type="text" placeholder="User Name">
            <input class="form-control px-3" name="password" type="password" placeholder="Password">
            <button type="submit px-3" class="btn btn-success">Sign in</button>
            <input name="action" type="hidden" value="login" >
            {% if next %}<input name="next" type="hidden" value="{{ next }}">{% endif %}
          </form>
        {% endif %}
      </div>
    </nav>




	{% endblock %}
	{% block navbar2 %}
	{% if breadcrumbs %}
	{% autoescape off %}
	<div class="breadcrumbs">
		{{ breadcrumbs }}
	</div>
	{% endautoescape %}
	{% endif %}
	{% endblock %}


	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
			{{ message }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}

<div class="container-fluid content">
{% block body %} {% endblock %}
</div>

</body>
</html>
