<html>
{% block header %} 
<head>
    <meta content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport">
    <title>HTML File Explorer</title>

    <script src="{{ const.MEDIA_URL }}base.js"></script>
    <script type="text/javascript">
        setBaseUrl("{{ const.BASE_URL }}");
        setMediaUrl("{{ const.MEDIA_URL }}");        
        setImageUrl("{{ const.IMAGE_URL }}");

    </script>

    <link rel="stylesheet" href="{{ const.MEDIA_URL }}/html_browser.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <link rel="stylesheet" href="{{ const.MEDIA_URL }}bootstrap/css/bootstrap.min.css">
    <style type="text/css">
            body {
                    padding-top: 60px;
                    padding-bottom: 40px;
            }
    </style>

    <script type="text/javascript" src="{{ const.MEDIA_URL }}folder_content.js"></script>
</head>
{% endblock %} 
{% block additional_header %} {% endblock %}

<body>		
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ const.BASE_URL }}">HTML File Explorer</a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           {% if user.is_authenticated %}
             {% if user.is_staff %}
               <li class="active"><a href="{{ const.BASE_URL }}hbAdmin">Administration</a></li>
             {% endif %}

             {% block additional_navbar %}
             {% endblock %}
         {% endif %} <!-- if user is authenticated -->
           </ul>
         <div class="small">
           {% if user.is_authenticated %}
             <ul class="nav navbar-nav navbar-right" >
               <li class="active"><a href="#" > {{ user.username }} </a> </li>
               <li class="active"><a href="{{ const.BASE_URL }}hbChangePassword" >Change Password </a></li>
               <li class="active"><a href="{{ const.BASE_URL }}hbLogout/" >Log Out  </a></li>
             </ul>
           {% else %}
             <form class="navbar-form navbar-right" action="{{ const.BASE_URL }}hbLogin/" method="post" > {% csrf_token %}
               <input class="form-control" name="userName" type="text" placeholder="User Name">
               <input class="form-control" name="password" type="password" placeholder="Password">
               <button type="submit" class="btn btn-success">Sign in</button>
               <input name="action" type="hidden" value="login" >
            </form>
           {% endif %}
         </div>

      </div>
      </div>
    </div>
    {% endblock %}
    {% block navbar2 %}
    {% if breadcrumbs %}
    {% autoescape off %}
    <div class="breadcrumbs">
        {{ breadcrumbs }}
    </div>
    {% endautoescape %}
    {% endif %}
    {% endblock %}

    {% block navbar3 %}
    {% endblock %}


    {% if errorText != None %}
    <div id="error"> {{ errorText }}</div><br>
    {% endif %}

{% block body %} {% endblock %}

{% block body2 %} {% endblock %}

 <!-- Placed at the end of the document so the pages load faster -->
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
{% block extra_js %} {% endblock %}
</body>
</html>
