<html>
{% block header %} 
<head>
    <title>HTML File Explorer</title>

    <script src="{{ const.MEDIA_URL }}base.js"></script>
    <script type="text/javascript">
        setBaseUrl("{{ const.BASE_URL }}");
        setMediaUrl("{{ const.MEDIA_URL }}");        
        setImageUrl("{{ const.IMAGE_URL }}");

    </script>

    <link rel="stylesheet" href="{{ const.MEDIA_URL }}/html_browser.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <link rel="stylesheet" href="{{ const.MEDIA_URL }}bootstrap/css/bootstrap.css">
    <link href="{{ const.MEDIA_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- <link href="{{ const.MEDIA_URL }}bootstrap/css/docs.css" rel="stylesheet"> -->
    <link href="{{ const.MEDIA_URL }}pretify.css" rel="stylesheet">
    <style type="text/css">
            body {
                    padding-top: 60px;
                    padding-bottom: 40px;
            }
    </style>
    <link href="{{ const.MEDIA_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="{{ const.MEDIA_URL }}bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{{ const.MEDIA_URL }}folder_content.js"></script>
</head>
{% endblock %} 
{% block additional_header %} {% endblock %}

<body>		
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	    <div class="container">
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
		<a class="brand" href="{{ const.BASE_URL }}">HTML File Explorer</a>
		<div class="nav-collapse collapse">
		    <ul class="nav">
			{% if user.is_authenticated %}
			    {% if user.is_staff %}
			        <li class="active"><a href="{{ const.BASE_URL }}hbAdmin">Administration  </a></li>
			    {% endif %}
			{% endif %}

		    </ul>
		    {% if showContent %}
		    <ul class="nav">
			<li class="dropdown" data-dropdown="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter <b class="caret"></b></a>
			    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
			        <center>
			        <h3>Apply a filter</h3>
		                <form method="post" action="{{ const.CONTENT_URL }}"> {% csrf_token %}
			            <input type="text" name="filter" value="{{ filter }}" maxlength="20" size="10" />
			            <input type="hidden" name="currentFolder" value="{{ currentFolder }}" />
			            <input type="hidden" name="currentPath" value="{{ currentPath }}" />
			            <input class="btn btn-primary" type="submit" value="Filter" name="Filter" />
			        </form>
				</center>
			    </div>
			</li>
			<li class="dropdown" data-dropdown="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
			    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
			        <center>
			        <h3>Search for filenames</h3>
		                <form method="post" action="{{ const.CONTENT_URL }}"> {% csrf_token %}
			            <input type="text" name="search" value="{{ search }}" maxlength="20" size="10" />
			            <input type="hidden" name="currentFolder" value="{{ currentFolder }}" />
			            <input type="hidden" name="currentPath" value="{{ currentPath }}" />
			            <input class="btn btn-primary" type="submit" value="Search" name="Search" />
			       </form>
				</center>
			    </div>
			</li>
		    </ul>
		    {% endif %}

		    <div class="small">
		    {% if user.is_authenticated %}
		    <ul class="nav pull-right" >
			<li class="active"><a href="#" > {{ user.username }} </a> </li>
			<li class="active"><a href="{{ const.BASE_URL }}hbChangePassword" >Change Password </a></li>
			<li class="active"><a href="{{ const.BASE_URL }}hbLogout/" >Log Out  </a></li>
		    </ul>
		    {% else %}
		    <form class="navbar-form pull-right" action="{{ const.BASE_URL }}hbLogin/" method="post" > {% csrf_token %}
			<input class="span2" name="userName" type="text" placeholder="User Name">
			<input class="span2" name="password" type="password" placeholder="Password">
			<button type="submit" class="btn">Sign in</button>
			<input class="span1" name="action" type="hidden" value="login" >
		    </form>
		    {% endif %}
		    </div>
		</div>
	    </div>
	</div>
    </div>
    {% endblock %}
    {% block navbar2 %}
    {% if breadcrumbs %}
    {% autoescape off %}
    <div class="breadcrumbs">
        {{ breadcrumbs }}
    </div>
    {% endautoescape %}
    {% endif %}
    {% endblock %}

    {% block navbar3 %}
    {% endblock %}


    {% if errorText != None %}
    <div id="error"> {{ errorText }}</div><br>
    {% endif %}

{% block body %} {% endblock %}

{% block body2 %} {% endblock %}

 <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ const.MEDIA_URL }}bootstrap/js/jquery.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ const.MEDIA_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
</body>
</html>
